
<h1>Welcome, <%=current_user.first_name%> <%=current_user.last_name%></h1>
<br/>

<h3>Remember: </h3><i>"<%= current_user.catchphrase %>"</i>

<h3>Your Current Abilities:</h3>
    <ol>
        <%user_abilities(current_user).each do |ability|%>
            <li><%= ability%></li>
        <%end%>
    </ol> %>
<h3>Your Current Adventures:</h3>
<ol>
    <%current_user.adventures.each do |adventure|%>
    
        <li><%= link_to(adventure.name, adventure_path(adventure)) %> - <%= adventure.location %></li>
    <%end%>
</ol>