<h1>Welcome, <%=current_user.first_name+current_user.last_name%></h1>


<ul>
    <li><%=link_to "Your Adventures", :franchise_adventures(current_user)</li>
    <li><%=link_to "Franchise Index", :franchises%></li>
    <li><%=link_to "Create new Adventure!", :new_franchise_adventure%></li> %>

</ul>

<p>Would you like to <%= link_to "sign out?", :destroy_user_session%></p>