<h1>Evil Index</h1>

<h4>Search by Abilities: </h4>
<%= form_tag(villains_path, method: :get) do%>
    <%= text_field_tag(:search, params[:search])%>
    <%= submit_tag ("Search") %>
<%end%>

<ol>
    <%@villains.each do |villain|%>
        <div id="<%= villain.id %>"><li><%=link_to(villain.name, villain_path(villain), id:villain.id, class:'vill')%> - <%= villain.abilities%></li></div>
    <%end%>
</ol>

<%= link_to("Create a new Villain?", new_villain_path)%>
