<%= form_for @franchise do |f| %>
    <%= f.label 'Franchise Name' %>
    <%= f.text_field :name %>
<br /> <br />
    <%= f.label 'Company' %>
    <%= f.text_field :company %>
<br /> <br />
    <%= f.label 'Create Franchise!' %>
    <%= f.submit 'Create Franchise!'%>

<% end %>

<%= form_for @franchise do |f| %>

    <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
<br />
    <div class="field">
        <%= f.label :company %><br />
        <%= f.text_field :company, autofocus: true, autocomplete: "company" %>
    </div>
<br />
    <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, cols: "30", rows: "10" %>
    </div>
<br />
    <div class="field">
        <%= f.label 'Franchise' %><br />
        <% if @franchise != nil %>
            <%= f.collection_select(:franchise_id, Franchise.all, :id, :name, {selected: @franchise.id}) %>
        <% else %>
            <%= f.collection_select(:franchise_id, Franchise.all, :id, :name) %>
        <% end %>
    </div>
<br />
    <div class="field">
        <%= f.label 'Villain' %><br />
        <%= f.collection_select(:villain_id, Villain.all, :id, :name) %>
    </div>
 <br />
    <div class="field">
    <% f.label 'Hero' %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    </div>
    <div class="actions">
        <%= f.submit "Create Adventure" %>
    </div>

<% end %>