<style>
h1 {
  display: inline-block;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: inline-block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
</style>

<ul>
    <% if !user_signed_in? %>
        <li><%= link_to("Sign-Up", new_user_registration_path)%></li>
        <li><%= link_to("Login", new_user_session_path)%></li>
        <li><%= link_to("Login with Github", user_github_omniauth_authorize_path)%> </li>
    <% else %>
        <li><%= link_to('Logout', destroy_user_session_path, method: :delete)%></li>
    <% end %>
    <li><%= link_to("Franchise Index", franchises_path)%></li>
</ul>