<!DOCTYPE html>
<html>
  <head>
    <title>AdventureApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>

  </head>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <style>
          body {
            background: url(https://images.unsplash.com/photo-1553447977-754f9430685c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) center no-repeat;
            background-size: cover;
            background-attachment: fixed;
          }
          .wrapper {
            background-color: rgb(0, 0, 0, 0.25);
            color: white;
            margin: 16px auto;
            max-width: 1000px;
            padding: 4%;
            font: 15px arial, sans-serif;
          }
        </style>
  <body>
    <%= render 'layouts/nav' %>
    <div style="margin-left:25%;padding:1px 16px;height:1000px;">
    <div class="wrapper"><%= yield %></div>
    </div>
    
  </body>
</html>